.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  background-color: #e5771f;
  padding: 1.5rem;
}

.form {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.formTitle {
  font-size: 1.6rem;
  font-weight: 600;
}

.formSelect,
.formInput {
  border: none;
  background-color: #ffebb3;
}

.formSelect {
  width: 100px;
}

.formSelect,
.formInput,
.btn {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  border-radius: 50px;
  font-weight: 600;
  border: none;
}

.btn {
  background-color: #76c7ad;
}
